{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <small style="color:red">{{ error.message }}</small>
            {% if errors|length > 1 and errors|last != error %}
                <br>
            {% endif %}
        {% endfor %}
    {%- endif %}
{% endblock form_errors %}