{% extends "@PSNDLMain/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}

    {% block psndl_flash %}
    {% endblock %}

    <div class="ibox-content m-b-sm border-bottom animated fadeInDown">
        <div class="text-center p-lg">
            <h2>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h2>
        </div>
    </div>
{% endblock %}