{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    Account confirmation for {{ user.username }}
{% endblock %}

{% block body_text %}
{% autoescape 'html' %}
Hi,

Your account {{ user.username }} has been registered successfully.

In order to continue, you need to confirm your account by visiting this url : {{ confirmationUrl }}

Have a good day !

Jamesst20.
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% endblock %}