{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <h1>Download database</h1>

                        <p style="font-size: 13pt">
                            Downloading the database is only useful for users who still want to use old PSNDLv1, PSNStuffX or any compatible software.
                            Please note that I highly recommend you to get used to this website instead.
                        </p>

                        <form method="post">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <span class="bold">Download</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

