{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}

    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <br/>

        <h1 class="text-center login-title">Edit Package</h1>
        <br/>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.downloadURL, 'Download URL', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.downloadURL, {'attr': {'class': 'form-control'}, 'id': 'txt_downloadURL'}) }}
                {{ form_errors(form.downloadURL) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.packageID, 'Package ID', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.packageID, {'attr': {'class': 'form-control'}, 'id': 'txt_packageID'}) }}
                {{ form_errors(form.packageID) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.title, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title, { 'attr': {'class': 'help-block'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.category, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.category) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.region, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.region) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.rapName, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.rapName, {'attr': {'class': 'form-control', 'placeholder': 'No rap'}, 'id': 'txt_rapName'}) }}
                {{ form_errors(form.rapName) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.rapData, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.rapData, {'attr': {'class': 'form-control'}, 'id': 'txt_rapData'}) }}
                {{ form_errors(form.rapData) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.author, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.author) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.approved, null, {'label_attr': {'class': 'control-label col-sm-3'}}) }}
            {{ form_errors(form.approved) }}
            <div class="col-sm-9">
                {{ form_widget(form.approved, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style': 'float:right'}}) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}

