{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}

    <h1>Packages </h1>
    <span class="col-sm-12 col-md-5 col-lg-5" style="float:right; padding: 0 0 5px 0">
        <form class="" role="search" action="{{ path('psndl_main_packages', {'page': 1}) }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="txt_search" value="{{ txt_search }}">

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </span>

    <span class="col-sm-12 col-md-5 col-lg-5" style="float:left; padding: 0 0 5px 0">
        <form class="" role="search" action="{{ path('psndl_main_packages', {'page': 1}) }}">
            <div class="input-group">
                <div class="select-style" style="display: inline-block; width: 60%;">
                    <select name="orderBy">
                        <option value="name">Package Name</option>
                        <option value="author">Author</option>
                        <option value="download_count">Download Count</option>
                        <option value="category">Category</option>
                        <option value="package_id">Package ID</option>
                        <option value="region">Region</option>
                    </select>
                </div>
                <div class="select-style" style="display: inline-block; width:40%; border-left: 0">
                    <select name="order">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-sort"></i></button>
                </div>
            </div>
            <input type="hidden" name="txt_search" value="{{ app.request.get('txt_search') }}" />
        </form>
    </span>

    <table class="table table-striped table-responsive">
        <tbody>
        {% if packages|length > 0 %}
            {% for package in packages %}
                <tr>
                    <td>
                        <div style="float: left;">
                            <a href="{{ path('psndl_main_view_package', {'id': package.id}) }}">
                                <strong style="font-size: 16pt">{{ package.title }}</strong>
                            </a>
                            <br>
                            <span>{{ package.packageID }} - {{ package.category.name }} - {{ package.region.regionName }}</span>
                        </div>
                    </td>
                    <td style="white-space: nowrap; width: 1px;">
                        <div style="float: left;">
                            Posted by <strong>{{ package.author }}</strong>
                            <br>
                            Downloaded {{ package.downloadCount }} times
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>There are no packages in the database.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="btn-group">

        <a class="btn btn-white {{ page > 1 ? '' : 'disabled' }}" href="{{ path('psndl_main_packages', app.request.query.all|merge({'page': page-1})) }}"><i class="fa fa-chevron-left"></i></a>

        {% for p in range(max(1, page - 10), min(pagesCount, page + 10)) %}
            <a class="btn btn-white {{ p == page ? 'active' : '' }}" href="{{ path('psndl_main_packages', app.request.query.all|merge({'page': p})) }}">{{ p }}</a>
        {% endfor %}

        <a class="btn btn-white {{ page >= pagesCount ? 'disabled' : '' }}" href="{{ path('psndl_main_packages', app.request.query.all|merge({'page': page+1})) }}"><i class="fa fa-chevron-right"></i></a>

    </div>

{% endblock %}

{% block psndl_javascripts %}
    <script>

        //Select the proper item in combo box
        $('select[name="orderBy"] option')
                .removeAttr('selected')
                .filter('[value="{{ app.request.get('orderBy') }}"]')
                .attr('selected', true);

        //Select the proper item in combo box
        $('select[name="order"] option')
                .removeAttr('selected')
                .filter('[value="{{ app.request.get('order') }}"]')
                .attr('selected', true);

    </script>
{% endblock %}
