{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <h1>Packages under Approval</h1>

    <table class="table table-striped table-responsive">
        <thead>
        <th>Packages</th>
        <th></th>
        </thead>
        <tbody>
        {% if packages|length > 0 %}
            {% for package in packages %}
                <tr>
                    <td>
                        <div style="float: left;">
                            <a href="{{ path('psndl_main_view_package', {'id': package.id}) }}">
                                <strong style="font-size: 16pt">{{ package.title }}</strong>
                            </a>
                            <br>
                            <span>{{ package.packageID }} - {{ package.category.name }} - {{ package.region.regionName }}</span>
                        </div>
                    </td>
                    <td style="white-space: nowrap; width: 1px;">
                        <div style="float: left;">
                            Posted by <strong>{{ package.author }}</strong>
                            <br>
                            Downloaded {{ package.downloadCount }} times
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>There are no packages under approval.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="btn-group">

        <a class="btn btn-white {{ page > 1 ? '' : 'disabled' }}" href="{{ path('psndl_main_packages_under_approval', {'page': page-1}) }}"><i class="fa fa-chevron-left"></i></a>

        {% for p in range(max(1, page - 10), min(pagesCount, page + 10)) %}
            <a class="btn btn-white {{ p == page ? 'active' : '' }}" href="{{ path('psndl_main_packages_under_approval', {'page': p}) }}">{{ p }}</a>
        {% endfor %}

        <a class="btn btn-white {{ page >= pagesCount ? 'disabled' : '' }}" href="{{ path('psndl_main_packages_under_approval', {'page': page+1}) }}"><i class="fa fa-chevron-right"></i></a>

    </div>
{% endblock %}

