{% extends 'PSNDLMainBundle::base.html.twig' %}

{% block psndl_body %}
    <div class="col-lg-8 col-md-6 col-lg-offset-2 col-md-offset-3">
        <br/>

        <h1 class="text-center login-title">Package details</h1>
        <br/>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">Package ID:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{ package.packageID }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Title:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{ package.title }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Category:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{ package.category.name }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Region:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{ package.region.regionName }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Description:</label>

                <div class="col-sm-9">
                    <textarea type="text" class="form-control" style="height: 175px" readonly>{{ package.description }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Author :</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" value="{{ package.author }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">License type :</label>

                <div class="col-sm-9">
                    <label class="form-control text-info" id="lbl_licenseType" readonly>Unknown License</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Downloaded:</label>

                <div class="col-sm-9">
                    <label class="form-control" readonly>{{ package.downloadCount }}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Package size :</label>

                <div class="col-sm-9">
                    <label class="form-control" id="lbl_packageSize" readonly>Unknown Size</label>
                </div>
            </div>

            <br/>

            <p class="text-danger">Download issues? More information below.</p>

            <a class="btn btn-primary btn-block" href="{{ path('psndl_main_download_package', {'id': package.id}) }}">Download Package</a>
            <a class="btn btn-info btn-block {{ package.rapData|length <= 0 ? 'disabled' : '' }}" href="{{ path('psndl_main_download_rap', {'id': package.id}) }}">Download Rap</a>

            {% if canEdit and not package.approved %}
                <a class="btn btn-default btn-block" href="{{ path('psndl_main_accept_package', {'id': package.id}) }}">Accept Package</a>
            {% endif %}

            {% if canEdit %}
                <a class="btn btn-warning btn-block" href="{{ path('psndl_main_edit_package', {'id': package.id}) }}">Edit Package</a>
                <a class="btn btn-danger btn-block" href="{{ path('psndl_main_delete_package', {'id': package.id}) }}">Delete Package</a>
            {% endif %}

            <p class="text-danger" style="margin-top: 10px; margin-bottom: 20px">
                Since Google Chrome 86, the download button no longer works. It's because PSN packages are still HTTP while PSNDL
                is running under HTTPS. It's called "Mixed Content" when HTTP is used from an HTTPS web page.
                <br><br>
                Current workaround:
                <br><br>
                Workaround 1: Right click "Download Package" and select "Copy Link Address". Open a new tab and paste the URL. Download should begin.
                <br><br>
                Workaround 2: Right click "Download Package" and click "Save Link As". If you get a warning "... can't be downloaded securely, click the
                arrow to the right of the discard button and click "Keep". The download should start.
                <br><br>
                Workaround 3: Try another web browser. It still works in Safari 14 (Mac) and Firefox 83.0.
                <br><br>
                For more information : https://blog.chromium.org/2020/02/protecting-users-from-insecure.html
            </p>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

    <script>
        var httpRequest = new XMLHttpRequest();
        httpRequest.open("GET", "{{ url('psndl_main_package_info_api') ~ '/' ~ package.downloadURL }}", false);
        httpRequest.send();
        var response = httpRequest.responseText;
        if (response.length > 10) {
            var json = jQuery.parseJSON(response);
            $('#lbl_licenseType').text(json.LicenseName);
            $('#lbl_packageSize').text(json.PackageSize);
        } else {
            $('#lbl_licenseType').text('License check failed');
            $('#lbl_packageSize').text('Size check failed');
        }
    </script>
{% endblock %}

