{% extends "@PSNDLMain/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}

    {% block psndl_flash %}
        {% for type, flash_messages in app.session.flashbag.all() %}
            {% for flash_message in flash_messages %}
                <div class="ibox-content m-b-sm border-bottom animated fadeInDown">
                    <div class="text-center p-lg">
                        <h2>{{ flash_message|trans }}</h2>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock psndl_flash %}

{% endblock %}