.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #e5e6e7;
    width: 100%;
    height: 34px;
    border-radius: 0;
    overflow: hidden;
    background: #fff url("arrowdown.gif") no-repeat 98% 50%;
}

.select-style select {
    padding: 7px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}