{% extends "@PSNDLMain/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}
    <div class="ibox-content m-b-sm border-bottom animated fadeInDown">
        <div class="text-center p-lg">
            <h2>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</h2>
        </div>
    </div>
{% endblock %}