{% extends '@PSNDLMain/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}

    <div class="middle-box text-center loginscreen animated fadeInDown">

        <h2><strong>Reset password</strong></h2>

        <form class="m-t" action="{{ path('fos_user_resetting_send_email') }}" method="POST">

            <div class="form-group">
                <input class="form-control" type="text" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}" required="required"/>
                {% if invalid_username is defined %}
                    <small style="color: red">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</small>
                {% endif %}
            </div>

            <button class="btn btn-primary block full-width m-b" type="submit">{{ 'resetting.request.submit'|trans }}</button>

        </form>
    </div>


{% endblock psndl_body %}