{% extends '@PSNDLMain/base.html.twig' %}
{% form_theme form ':Form:form_errors.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block psndl_body %}

    <div class="middle-box text-center loginscreen animated fadeInDown">

        <h2><strong>Reset password</strong></h2>

        <form class="m-t" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" >

            <div class="form-group">
                {{ form_widget(form.new.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.new_password'|trans}}) }}
                {{ form_errors(form.new.first) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.new.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.new_password_confirmation' |trans}}) }}
                {{ form_errors(form.new.second) }}
            </div>

            {{ form_rest(form) }}
            <input class="btn btn-primary block full-width m-b" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </form>
    </div>
{% endblock psndl_body %}