{% extends '::base.html.twig' %}

{% block topbar %}
    {{ render(controller('PSNDLMainBundle:Navbar:topbar')) }}
{% endblock %}

{% block sidebar %}
    {{ render(controller('PSNDLMainBundle:Navbar:sidebar')) }}
{% endblock %}


{% block body %}

    {% block psndl_flash %}
        {% for type, flash_messages in app.session.flashbag.all() %}
            {% for flash_message in flash_messages %}
                <div class="alert alert-{{ type }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock psndl_flash %}


    <div class="col-lg-12">
        {% block psndl_body %}

        {% endblock %}
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% block psndl_javascripts %}
    {% endblock %}

{% endblock %}
